In [79]:
import os
data_dir = 'C:/Users/manci/Desktop/data/PythonML-main/PythonML-main/chapter07/data'
input_dir = os.path.join(data_dir, '0_input')
output_dir = os.path.join(data_dir, '1_output')
os.makedirs(input_dir, exist_ok = True)
os.makedirs(output_dir, exist_ok = True)

In [81]:
import pandas as pd
ml_data_file = 'C:/Users/manci/Desktop/data/PythonML-main/PythonML-main/chapter07/data/0_input/ml_base_data.csv'
ml_data = pd.read_csv(os.path.join(input_dir, ml_data_file))
ml_data.head(3)

,store_name,y_weekday,y_weekend,order,order_fin,order_cancel,order_delivery,order_takeout,order_weekday,order_weekend,...,order_time_14,order_time_15,order_time_16,order_time_17,order_time_18,order_time_19,order_time_20,order_time_21,delta_avg,year_month
0,가덕해안로점,0.0,1.0,1000,818,182,741,259,732,268,...,99,66,77,107,91,100,86,94,33.943765,202004
1,가마산로2점,0.0,1.0,1470,1207,263,1099,371,1076,394,...,112,123,146,132,143,118,121,125,34.702568,202004
2,가마산로점,0.0,1.0,1021,838,183,792,229,748,273,...,94,93,111,77,81,104,88,86,34.730310,202004

In [82]:
category_data = pd.get_dummies(ml_data['store_name'], prefix = 'store', prefix_sep = '_')
display(category_data.head(3))

,store_가덕해안로점,store_가마산로2점,store_가마산로점,store_감천항로점,store_강남대로2점,store_강남대로점,store_강남점3점,store_경열로점,store_계룡로점,store_계족로점,...,store_한누리대로점,store_한밭대로점,store_해안새벽시장길점,store_해운대로점,store_해운대해변로점,store_화곡로2점,store_화곡로점,store_화중로점,store_효덕로점,store_효원로점
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
del category_data['store_가덕해안로점']
del ml_data['year_month']
del ml_data['store_name']
ml_data = pd.concat([ml_data, category_data], axis = 1)
ml_data.columns

Index(['y_weekday', 'y_weekend', 'order', 'order_fin', 'order_cancel',
       'order_delivery', 'order_takeout', 'order_weekday', 'order_weekend',
       'order_time_11',
       ...
       'store_한누리대로점', 'store_한밭대로점', 'store_해안새벽시장길점', 'store_해운대로점',
       'store_해운대해변로점', 'store_화곡로2점', 'store_화곡로점', 'store_화중로점',
       'store_효덕로점', 'store_효원로점'],
      dtype='object', length=213)

In [84]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(ml_data, test_size = 0.3, random_state = 0)
print(f'Train : {len(train_data)}건 / Test : {len(test_data)}')
print(f'Weekday Train0: {len(train_data.loc[train_data["y_weekday"] == 0])}건')
print(f'Weekday Train1: {len(train_data.loc[train_data["y_weekday"] == 1])}건')
print(f'Weekday Test0: {len(test_data.loc[test_data["y_weekday"] == 0])}건')
print(f'Weekday Test1: {len(test_data.loc[test_data["y_weekday"] == 1])}건')

print(f'Weekend Train0: {len(train_data.loc[train_data["y_weekend"] == 0])}건')
print(f'Weekend Train1: {len(train_data.loc[train_data["y_weekend"] == 1])}건')
print(f'Weekend Test0: {len(test_data.loc[test_data["y_weekend"] == 0])}건')
print(f'Weekend Test1: {len(test_data.loc[test_data["y_weekend"] == 1])}건')

Train : 1486건 / Test : 637
Weekday Train0: 744건
Weekday Train1: 742건
Weekday Test0: 310건
Weekday Test1: 327건
Weekend Train0: 784건
Weekend Train1: 702건
Weekend Test0: 329건
Weekend Test1: 308건

In [85]:
X_cols = list(train_data.columns)
X_cols.remove('y_weekday')
X_cols.remove('y_weekend')

In [86]:
target_y = 'y_weekday'
X_train = train_data[X_cols]
y_train = train_data[target_y]
X_test = test_data[X_cols]
y_test = test_data[target_y]
display(y_train.head(3))
display(X_train.head(3))

1310    0.0
1790    0.0
1295    0.0
Name: y_weekday, dtype: float64

,order,order_fin,order_cancel,order_delivery,order_takeout,order_weekday,order_weekend,order_time_11,order_time_12,order_time_13,...,store_한누리대로점,store_한밭대로점,store_해안새벽시장길점,store_해운대로점,store_해운대해변로점,store_화곡로2점,store_화곡로점,store_화중로점,store_효덕로점,store_효원로점
1310,1492,1203,289,1111,381,1060,432,143,124,129,...,0,0,0,0,0,0,0,0,0,0
1790,1125,941,184,818,307,762,363,83,86,112,...,0,0,0,0,0,0,0,0,0,0
1295,1247,1032,215,935,312,888,359,136,107,109,...,0,0,0,0,0,0,0,0,0,0

In [87]:
# 의사결정나무
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state = 0)
model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=0)

In [88]:
y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)
y_pred_test

array([1., 1., 0., 0., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1.,
       1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1.,
       0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0., 1., 0.,
       1., 0., 1., 0., 1., 0., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1.,
       1., 0., 1., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0.,
       1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 0., 0., 0.,
       1., 0., 1., 1., 0., 1., 1., 1., 0., 0., 1., 1., 1., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1.,
       0., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1.,
       0., 1., 0., 1., 1., 1., 1., 0., 1., 0., 0., 1., 0., 1., 1., 1., 1.,
       0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 0., 0., 1., 0.,
       1., 0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1.,
       0., 0., 0., 1., 0., 1., 1., 1., 1., 0., 0., 0., 1., 1., 0., 0., 1.,
       0., 1., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 1., 1., 1.,
       1., 1., 0., 0., 1., 0., 1., 1., 0., 1., 0., 0., 1., 0., 0., 1., 0.,
       0., 1., 0., 0., 1., 1., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
       0., 0., 1., 1., 0., 0., 0., 1., 0., 1., 0., 1., 1., 1., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 0., 1., 1.,
       0., 1., 1., 0., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0., 0., 1.,
       0., 0., 0., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 0., 0.,
       1., 1., 0., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 1., 1., 1.,
       1., 0., 0., 1., 1., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0., 1.,
       1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 1.,
       1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1.,
       0., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0.,
       0., 1., 1., 0., 1., 0., 1., 0., 0., 0., 1., 1., 1., 0., 0., 1., 0.,
       1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 1., 1.,
       1., 0., 0., 1., 0., 1., 1., 0., 0., 1., 0., 0., 0., 1., 1., 1., 0.,
       1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 1., 0., 1., 1., 1., 0.,
       0., 1., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0.,
       1., 0., 0., 1., 0., 0., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 0.,
       0., 1., 0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 1., 0., 1., 0., 0.,
       1., 1., 1., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0.,
       1., 0., 0., 0., 1., 1., 0., 0.])

In [89]:
# 정확도, F1점수, 재현율, 정밀도 측정
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score, confusion_matrix

acc_train = accuracy_score(y_train, y_pred_train)
acc_test = accuracy_score(y_test, y_pred_test)
f1_train = f1_score(y_train, y_pred_train)
f1_test = f1_score(y_test, y_pred_test)
recall_train = recall_score(y_train, y_pred_train)
recall_test = recall_score(y_test, y_pred_test)
precision_train = precision_score(y_train, y_pred_train)
precision_test = precision_score(y_test, y_pred_test)

print(f'[정확도] Train : {round(acc_train, 2)}'
      f'Test : {round(acc_test, 2)}')
print(f'[F1점수] Train : {round(f1_train, 2)}'
      f'Test : {round(f1_test, 2)}')
print(f'[재현율] Train : {round(recall_train, 2)}'
      f'Test : {round(recall_test, 2)}')
print(f'[정밀도] Train : {round(precision_train, 2)}'
      f'Test : {round(precision_test, 2)}')

[정확도] Train : 1.0Test : 0.59
[F1점수] Train : 1.0Test : 0.6
[재현율] Train : 1.0Test : 0.59
[정밀도] Train : 1.0Test : 0.6

In [90]:
print(confusion_matrix(y_train, y_pred_train))
print(confusion_matrix(y_test, y_pred_test))

[[744   0]
 [  0 742]]
[[181 129]
 [133 194]]

In [91]:
# 혼동행렬 TN, FP, FN, TP 계산하기
tn_train, fp_train, fn_train, tp_train = confusion_matrix(y_train, y_pred_train).ravel()
tn_test, fp_test, fn_test, tp_test = confusion_matrix(y_test, y_pred_test).ravel()
print(f'[혼동 행렬]  Train : {tn_train}, {fp_train}, {fn_train}, {tp_train}')
print(f'[혼동 행렬]  Test : {tn_test}, {fp_test}, {fn_test}, {tp_test}')

[혼동 행렬]  Train : 744, 0, 0, 742
[혼동 행렬]  Test : 181, 129, 133, 194

In [92]:
# 모든 지표들 데이터프레임으로 만들기
score_train = pd.DataFrame({'DataCategory': ['train'], 'acc' : [acc_train], 'f1': [f1_train], 
                            'recall': [recall_train], 'precision': [precision_train], 
                            'TP': [tp_train], 'FN': [fn_train], 'fp': [fp_train], 'TN': [tn_train]})

score_test = pd.DataFrame({'DataCategory': ['test'], 'acc' : [acc_test], 'f1': [f1_test], 
                            'recall': [recall_test], 'precision': [precision_test], 
                            'TP': [tp_test], 'FN': [fn_test], 'fp': [fp_test], 'TN': [tn_test]})

In [93]:
score = pd.concat([score_train, score_test], ignore_index = True)
score

  DataCategory       acc        f1    recall  precision   TP   FN   fp   TN
0        train  1.000000  1.000000  1.000000   1.000000  742    0    0  744
1         test  0.588697  0.596923  0.593272   0.600619  194  133  129  181

In [94]:
importance = pd.DataFrame({'cols': X_train.columns, 'importance': model.feature_importances_})
importance = importance.sort_values('importance', ascending = False)
importance.head(10)

             cols  importance
6   order_weekend    0.124457
5   order_weekday    0.102269
18      delta_avg    0.077322
13  order_time_17    0.062313
7   order_time_11    0.061402
0           order    0.053850
11  order_time_15    0.049020
4   order_takeout    0.048527
16  order_time_20    0.047793
14  order_time_18    0.046598

In [95]:
# order_weekend와 delta_avg의 중요도가 높은 것으로 보아 피자 배달 시간이 주문 건수 증감에 영향을 미친 것을 알 수 있음

In [96]:
# 모든 과정 함수화
def make_model_and_eval(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    
    y_pred_train = model.predict(X_train)
    y_pred_test = model.predict(X_test)
    
    acc_train = accuracy_score(y_train, y_pred_train)
    acc_test = accuracy_score(y_test, y_pred_test)
    
    f1_train = f1_score(y_train, y_pred_train)
    f1_test = f1_score(y_test, y_pred_test)
    
    recall_train = recall_score(y_train, y_pred_train)
    recall_test = recall_score(y_test, y_pred_test)
    
    precision_train = precision_score(y_train, y_pred_train)
    precision_test = precision_score(y_test, y_pred_test)
    
    tn_train, fp_train, fn_train, tp_train = confusion_matrix(y_train, y_pred_train).ravel()
    tn_test, fp_test, fn_test, tp_test = confusion_matrix(y_test, y_pred_test).ravel()
    
    score_train = pd.DataFrame({'DataCategory': ['train'], 'acc' : [acc_train], 'f1': [f1_train], 
                            'recall': [recall_train], 'precision': [precision_train], 
                            'TP': [tp_train], 'FN': [fn_train], 'fp': [fp_train], 'TN': [tn_train]})
    score_test = pd.DataFrame({'DataCategory': ['test'], 'acc' : [acc_test], 'f1': [f1_test], 
                            'recall': [recall_test], 'precision': [precision_test], 
                            'TP': [tp_test], 'FN': [fn_test], 'fp': [fp_test], 'TN': [tn_test]})
    score = pd.concat([score_train, score_test], ignore_index = True)
    
    importance = pd.DataFrame({'cols': X_train.columns, 'importance': model.feature_importances_})
    importance = importance.sort_values('importance', ascending = False)
    
    cols = pd.DataFrame({'X_cols': X_train.columns})
    display(score)
    return score, importance, model, cols

In [97]:
model = DecisionTreeClassifier(random_state = 0)
score, importance, model, cols = make_model_and_eval(model, X_train, X_test, y_train, y_test)

  DataCategory       acc        f1    recall  precision   TP   FN   fp   TN
0        train  1.000000  1.000000  1.000000   1.000000  742    0    0  744
1         test  0.588697  0.596923  0.593272   0.600619  194  133  129  181

In [98]:
# 덮어쓰기 방지(각 날짜 시간마다 저장하기)
import datetime

now = datetime.datetime.now().strftime('%Y%m%d%H%M%S')
target_output_dir_name = 'results_' + now
target_output_dir = os.path.join(output_dir, target_output_dir_name)
os.makedirs(target_output_dir, exist_ok = True)
print(target_output_dir)

C:/Users/manci/Desktop/data/PythonML-main/PythonML-main/chapter07/data\1_output\results_20240109162119

In [99]:
score_name = 'score_csv'
importance_name = 'importance.csv'
cols_name = 'X_cols.csv'
model_nema = 'model.pickle'
score_path = os.path.join(target_output_dir, score_name)
importance_path = os.path.join(target_output_dir, importance_name)
cols_path = os.path.join(target_output_dir, cols_name)
model_path = os.path.join(target_output_dir, model_nema)

score.to_csv(score_path, index = False)
importance.to_csv(importance_path, index = False)
cols.to_csv(cols_path, index = False)

import pickle

with open(model_path, mode = 'wb') as f:
    pickle.dump(model, f, protocol = 2)

In [120]:
# 앙상블 모델인 랜덤포레스트와 경사하강부스팅 사용
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

models = {'tree': DecisionTreeClassifier(random_state = 0), 
          'RandomForest': RandomForestClassifier(random_state = 0), 
          'GradientBoostingClassifier': GradientBoostingClassifier(random_state = 0)}

now = datetime.datetime.now().strftime('%Y%m%d%H%M%S')
target_output_dir_name = 'results_' + now
target_output_dir = os.path.join(output_dir, target_output_dir_name)
os.makedirs(target_output_dir, exist_ok = True)
print(target_output_dir)
score_all = []
importance_all = []

for model_name, model in models.items():
    print(model_name)
    score, importance, model, cols = make_model_and_eval(model, X_train, X_test, y_train, y_test)
    score['model_name'] = model_name
    importance['model_name'] = model_name
    
    model_nema = f'model_{model_name}.pickle'
    model_path = os.path.join(target_output_dir, model_nema)
    
    with open(model_path, mode = 'wb') as f:
        pickle.dump(model, f, protocol = 2)
    score_all.append(score)
    importance_all.append(importance)
    
score_all = pd.concat(score_all, ignore_index = True)
importance_all = pd.concat(importance_all, ignore_index = True)
cols = pd.DataFrame({'X_cols': X_train.columns})
score_name = 'score.csv'
importance_name = 'importance.csv'
cols_name = 'X_cols.csv'
score_path = os.path.join(target_output_dir, score_name)
importance_path = os.path.join(target_output_dir, importance_name)
cols_path = os.path.join(target_output_dir, cols_name)
score_all.to_csv(score_path, index = False)
importance_all.to_csv(importance_path, index = False)
cols.to_csv(cols_path, index = False)

C:/Users/manci/Desktop/data/PythonML-main/PythonML-main/chapter07/data\1_output\results_20240109164049
tree

  DataCategory       acc        f1    recall  precision   TP  FN  fp   TN
0        train  1.000000  1.000000  1.000000   1.000000  702   0   0  784
1         test  0.783359  0.775244  0.772727   0.777778  238  70  68  261

RandomForest

  DataCategory       acc        f1    recall  precision   TP  FN  fp   TN
0        train  1.000000  1.000000  1.000000   1.000000  702   0   0  784
1         test  0.841444  0.836305  0.837662   0.834951  258  50  51  278

GradientBoostingClassifier

  DataCategory       acc        f1    recall  precision   TP  FN  fp   TN
0        train  0.917227  0.913684  0.927350   0.900415  651  51  72  712
1         test  0.857143  0.854400  0.866883   0.842271  267  41  50  279

In [121]:
# 평일과 휴일을 한번에 실행해서 저장하기
X_cols = list(train_data.columns)
X_cols.remove('y_weekday')
X_cols.remove('y_weekend')
targets_y = ['y_weekday', 'y_weekend']

now = datetime.datetime.now().strftime('%Y%m%d%H%M%S')
target_output_dir_name = 'result_' + now
target_output_dir = os.path.join(output_dir, target_output_dir_name)
os.makedirs(target_output_dir, exist_ok = True)
print(target_output_dir)

score_all = []
importance_all = []

for target_y in targets_y:
    y_train = train_data[target_y]
    X_train = train_data[X_cols]
    y_test = test_data[target_y]
    X_test = test_data[X_cols]
    
    models = {'tree': DecisionTreeClassifier(random_state = 0), 
              'RandomForest': RandomForestClassifier(random_state = 0), 
              'GradientBoostingClassifier': GradientBoostingClassifier(random_state = 0)}
    
    for model_name, model in models.items():
        print(model_name)
        score, importance, model, cols = make_model_and_eval(model, X_train, X_test, y_train, y_test)
        score['model_name'] = model_name
        importance['model_name'] = model_name
        score['model_target'] = target_y
        importance['model_target'] = target_y
    
        model_nema = f'model_{target_y}_{model_name}.pickle'
        model_path = os.path.join(target_output_dir, model_nema)
    
        with open(model_path, mode = 'wb') as f:
            pickle.dump(model, f, protocol = 2)
        score_all.append(score)
        importance_all.append(importance)
        
score_all = pd.concat(score_all, ignore_index = True)
importance_all = pd.concat(importance_all, ignore_index = True)
cols = pd.DataFrame({'X_cols': X_train.columns})

score_name = 'score.csv'
importance_name = 'importance.csv'
cols_name = 'X_cols.csv'
score_path = os.path.join(target_output_dir, score_name)
importance_path = os.path.join(target_output_dir, importance_name)
cols_path = os.path.join(target_output_dir, cols_name)
score_all.to_csv(score_path, index = False)
importance_all.to_csv(importance_path, index = False)
cols.to_csv(cols_path, index = False)

C:/Users/manci/Desktop/data/PythonML-main/PythonML-main/chapter07/data\1_output\result_20240109164058
tree

  DataCategory       acc        f1    recall  precision   TP   FN   fp   TN
0        train  1.000000  1.000000  1.000000   1.000000  742    0    0  744
1         test  0.588697  0.596923  0.593272   0.600619  194  133  129  181

RandomForest

  DataCategory       acc       f1    recall  precision   TP   FN   fp   TN
0        train  1.000000  1.00000  1.000000   1.000000  742    0    0  744
1         test  0.621664  0.61563  0.590214   0.643333  193  134  107  203

GradientBoostingClassifier

  DataCategory       acc        f1    recall  precision   TP   FN   fp   TN
0        train  0.815612  0.822539  0.855795   0.791771  635  107  167  577
1         test  0.623234  0.622642  0.605505   0.640777  198  129  111  199

tree

  DataCategory       acc        f1    recall  precision   TP  FN  fp   TN
0        train  1.000000  1.000000  1.000000   1.000000  702   0   0  784
1         test  0.783359  0.775244  0.772727   0.777778  238  70  68  261

RandomForest

  DataCategory       acc        f1    recall  precision   TP  FN  fp   TN
0        train  1.000000  1.000000  1.000000   1.000000  702   0   0  784
1         test  0.841444  0.836305  0.837662   0.834951  258  50  51  278

GradientBoostingClassifier

  DataCategory       acc        f1    recall  precision   TP  FN  fp   TN
0        train  0.917227  0.913684  0.927350   0.900415  651  51  72  712
1         test  0.857143  0.854400  0.866883   0.842271  267  41  50  279

In [122]:
# 모델 평가하기
score_all.loc[score_all['model_target'] == 'y_weekday']

,DataCategory,acc,f1,recall,precision,TP,FN,fp,TN,model_name,model_target
0,train,1.000000,1.000000,1.000000,1.000000,742,0,0,744,tree,y_weekday
1,test,0.588697,0.596923,0.593272,0.600619,194,133,129,181,tree,y_weekday
2,train,1.000000,1.000000,1.000000,1.000000,742,0,0,744,RandomForest,y_weekday
3,test,0.621664,0.615630,0.590214,0.643333,193,134,107,203,RandomForest,y_weekday
4,train,0.815612,0.822539,0.855795,0.791771,635,107,167,577,GradientBoostingClassifier,y_weekday
5,test,0.623234,0.622642,0.605505,0.640777,198,129,111,199,GradientBoostingClassifier,y_weekday

In [123]:
score_all.loc[score_all['model_target'] == 'y_weekend']

,DataCategory,acc,f1,recall,precision,TP,FN,fp,TN,model_name,model_target
6,train,1.000000,1.000000,1.000000,1.000000,702,0,0,784,tree,y_weekend
7,test,0.783359,0.775244,0.772727,0.777778,238,70,68,261,tree,y_weekend
8,train,1.000000,1.000000,1.000000,1.000000,702,0,0,784,RandomForest,y_weekend
9,test,0.841444,0.836305,0.837662,0.834951,258,50,51,278,RandomForest,y_weekend
10,train,0.917227,0.913684,0.927350,0.900415,651,51,72,712,GradientBoostingClassifier,y_weekend
11,test,0.857143,0.854400,0.866883,0.842271,267,41,50,279,GradientBoostingClassifier,y_weekend

In [124]:
importance_all.loc[
    (importance_all['model_target'] == 'y_weekday') & 
    (importance_all['model_name'] == 'GradientBoosting')].head(10)

Empty DataFrame
Columns: [cols, importance, model_name, model_target]
Index: []